@{
    ViewData["Title"] = "Home";
}

<style>
    .hero-background {
        flex: 1;
        background-image: url('/Images/268884-1920x1080-desktop-1080p-farm-wallpaper-photo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
        padding-top: 0.5px; /* move text up */
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        
    }

        .hero-background h1 {
            font-size: 3.5rem;
            font-weight: bold;
        }

        .hero-background p {
            font-size: 1.3rem;
            max-width: 800px;
        }
</style>

<div class="hero-background">
    <h1>Welcome to Agri-Energy Connect</h1>
    <p>
        Your digital platform to manage agriculture smarter. Farmers can list their products, manage profiles, and track listings.
        Employees can create farmer accounts, explore products by farmer, and filter through powerful search tools.
    <p>PLEASE REGISTER/LOGIN TO GAIN FULL ACCESS TO THE SITE</p>
    
</div>
* Start Bootstrap, 2025.Bootstrap Templates & Themes.[online] Available at: https://startbootstrap.com/themes#google_vignette [Accessed 11 May 2025] *
